.body {
  background-color: darkcyan;
}
.Form1 {
  width: 50%;
  padding: 15px;
  margin: auto;
  background-image: url("https://media.giphy.com/media/4ZP2Otq5tQbSM/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.img0 {
  height: 50px;
  width: 600px;
}
